*{
    margin: 0;
    padding: 0;
}

.nav-left img{
    width: 50px;
    height: 50px;
    border-radius: 100px;
}

.nav{
    display: flex;
    box-sizing: border-box;
    justify-content: space-around;
    align-items: center;
    background-color: #000;
}

.nav-left{
    font-size: 24px;
    font-weight: bold;
}

.nav-right{
    display: flex;
    gap: 50px;
}

.nav-right .signup{
    background-color: #fff;
    color: #000;
    padding: 10px;
    border-radius: 50px;
    text-decoration: none;
}

.nav-right a{
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

.nav-right a:hover{
    color: #ccc;
}   

.nav-right a:active{
    color: #000;
}

.nav-right .offers {
    margin-top: 10px;
}
.nav-right .monthly-rental {
    margin-top: 10px;
}
.nav-right .list-vehicle {
    margin-top: 10px;
}
.nav-right .login {
    margin-top: 10px;
}

/* Home  page */

.home-page{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.left-home-content{
    width: 50%;
    height: 70%;
    object-fit: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding: 20px;
    margin: 20px;   
    border-radius: 20px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.5);
}

.left-home-content h1{
    font-size: 40px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}

.left-home-content p{
    font-size: 20px;
    font-weight: bold;
    color: #000;
    text-align: center;
    margin-bottom: 20px;
}


.right-home-content{
    width: 50%;
    height: 100%;
    object-fit: cover;
}

.right-home-content img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.left-home-content .form-group label{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    margin-bottom: 10px;
    margin-top: 10px;   
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    font-size: 20px;
}

.left-home-content .form-group select{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
}

.left-home-content .form-group select option{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;

}

.left-home-content .form-group input{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #000;
    background-color: #fff;
}

.left-home-content .form-group input::placeholder{
    font-size: 16px;
    font-weight: bold;
    color: #000;
    text-align: center;
}

.left-home-content .form-group button{
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #000;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;  
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.left-home-content .form-group button:hover{
    background-color: #ccc;
    color: #000;
}










